[submodule "submodules/FunnelHashMap"]
	path = submodules/FunnelHashMap
	url = https://github.com/uraniumcrystalsmaster/Funnel_Hash_Map_and_Funnel_Hash_AVL_Tree
[submodule "submodules/IndexResearch"]
	path = submodules/IndexResearch
	url = https://github.com/Spear-Neil/IndexResearch.git
[submodule "extern/sfml"]
	path = extern/sfml
	url = https://github.com/SFML/SFML.git
